{% extends 'base.html.twig' %}

{% block title 'Le Fraté Club' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur la Homepage fraté</h1>
        <p>On s'ambiance ici fraté hé</p>
    </div>
{% endblock %}